// COLORS
$blue: hsl(176, 50%, 47%);
$dark-blue: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 48%);
$white: hsl(255, 100%, 100%);

// BREAKPOINTS
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;
