nav {
  position: absolute;
  display: block;
  top: 0;
  color: $white;
  margin: 0 auto;
  padding: 1em 2em;
  width: 100%;
  max-width: $desktop;

  .logo {
    display: inline-block;
  }

  .main-nav {
    color: red;
  }

  @include respond-to("desktop") {
    color: blue;

    .main-nav {
      display: flex;
      justify-content: flex-end;

      ul li {
        display: inline-flex;
        margin: 0 0.4em;
      }
    }
  }
}
